*.ex
*.hdf5
*.h5part
*.MPI
*.session*
*.log
*.aux
*.0
*.out
**/o/**
**/f/**
**/p/**
**/d/**
**/*.a
**/*.o
**/report.txt
**/__pycache__
pout.*
time.table.*
.venv

Docs/build

**/configurator.log*
discharge_inception.egg-info
__init__.py